.profile-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-container h2 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.profile-container form {
  display: flex;
  flex-direction: column; /* 세로 배치 */
}

.profile-container form label {
  display: block;
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.profile-container form input[type="text"],
.profile-container form input[type="email"],
.profile-container form input[type="file"] {
  width: 30% !important; /* 동일한 너비 */
}

.profile-container form input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: border-color 0.3s ease;
}

.profile-container form input:focus {
  border-color: #ff6f00;
  outline: none;
}

.profile-container form button {
  margin-top: 15px; /* 입력란과 버튼 사이 여백 추가 */
  padding: 10px 15px;
  width: 5%;
  font-size: 14px;
  color: #fff;
  background-color: #ff6f00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-container form button:hover {
  background-color: #e55e00;
}
