@font-face {
  font-family: 'PretendardVariable';
  src: url('./assets/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 100 900;
  /* 사용할 폰트 두께 범위 설정 */
  font-display: swap;
  /* 폰트가 로딩될 때 대체 폰트 사용 */
}


@font-face {
  font-family: 'Paperlogy-7';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Paperlogy-5';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Paperlogy-4';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Paperlogy-3';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

ul,
ol,li {
  list-style: none;
}


a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'PretendardVariable', sans-serif;
  margin: 0;
  padding: 0;
}

#wrap {
  padding-top: 72px;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  position: relative;
  width: 1240px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}